// WIDGETS / GALLERY
// ------------------------------------

.gallery-thumbnail {
	display: inline-block;
	& > .gallery-thumbnail__figure,
	& > .gallery-thumbnail__caption {
		display: inline-block;
		vertical-align: middle;
	}
	& > .gallery-thumbnail__figure {
		width: 80px;
		height: 40px;
		margin-right: 15px;
		background-position: center center;
		background-size: cover;
	}
}