// COMPONENTS / TABLE
// ------------------------------------

.table-responsive.borderless {
	border: 0;
}

.table {
	margin-bottom: 0;
	&.table-ellipsis {
		tr {
			> th,
			> td {
				max-width: 100px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	&.table-thead-ellipsis {
		> thead {
			> tr {
				> th,
				> td {
					max-width: 150px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
	&.table-centered {
		th,
		td {
			text-align: center;
			vertical-align: middle;
		}
	}
	&.table-middle {
		th,
		td {
			vertical-align: middle;
		}
	}
	&.table-form {
		.form-group {
			margin: 0;
		}
	}
	&.table-nested {
		background-color: transparent;
		border: 0;
		th:first-child,
		td:first-child {
			border-left: 0;
		}
		th:last-child,
		td:last-child {
			border-right: 0;
		}
		tr:first-child {
			th,
			td {
				border-top: 0;
			}
		}
		tr:last-child {
			th,
			td {
				border-bottom: 0;
			}
		}
	}
	& {
		tr {
			&.default {
				background-color: #f1f1f1;
			}
		}
		td {
			.img-responsive {
				width: auto;
			}
		}
	}
	.col-autowidth {
		width: 20px !important;
		white-space: nowrap;
		&.col-minw-sm {
			min-width: 90px;
		}
	}
}

.table:not(table) {
	width: 100%;
	display: table;
	border-collapse: collapse;
	&.table-bordered {
		.th,
		.td {
			border: 1px solid #ddd;
		}
	}
	&.table-striped {
		.tr:nth-of-type(odd) {
			background-color: #f9f9f9;
		}
	}
	&.table-hover {
		> .tbody {
			.tr:hover {
				background-color: #eef1f5;
			}
		}
	}
	&.table-condensed {
		.th,
		.td {
			padding: 5px;
		}
	}
	&.table-nested {
		background-color: transparent;
		border: 0;
		.th:first-child,
		.td:first-child {
			border-left: 0;
		}
		.th:last-child,
		.td:last-child {
			border-right: 0;
		}
		.tr:first-child {
			.th,
			.td {
				border-top: 0;
			}
		}
		.tr:last-child {
			.th,
			.td {
				border-bottom: 0;
			}
		}
	}

	.thead {
		display: table-header-group;
	}
	.tbody {
		display: table-row-group;
	}
	.tfoot {
		display: table-footer-group;
	}
	.tr {
		display: table-row;
	}

	.th,
	.td {
		padding: 8px;
		display: table-cell;
	}
	.th {
		font-weight: 700;
	}

	@media (max-width: 767px) {
		&.table-break-sm {
			.tr,
			.th,
			.td {
				border-top: 0;
				border-left: 0;
				border-right: 0;
				display: block;
				&.col-autowidth {
					width: auto !important;
				}
			}
			&.table-nested {
				.th,
				.td {
					border: 0;
				}
				.th + .td,
				.td + .td {
					padding-top: 0;
				}
				&.table-bordered {
					.tr + .tr {
						border-top: 1px solid #ddd;
					}
				}
			}
		}
	}
}
