// COMPONENTS / FORM / RADIO
// ------------------------------------

.mt-radio {
	&.btn {
		& > span {
			left: 5px;
			top: 50%;
			margin-top: -9px;
		}
	}
}

.form-group {
	.mt-radio-inline {
		padding: 0;
	}
	.mt-radio {
		margin: 3px 15px 3px 0;
		input + span {
			border-color: #ccc;
		}
		&.mt-radio-width-md {
			width: 100%;
			max-width: 350px;
		}
	}
}

.mark-no-spacing {
	.mt-checkbox {
		margin: 0;
	}
}