// SKINS / DEFAULT
// ------------------------------------

// Bootstrap
$color-default:						#e5f1f5;
$color-primary: 					#337ab7;
$color-secondary: 				#3f3c53;
$color-info: 							#5bc0de;
$color-success: 					#5cb85c;
$color-warning: 					#f0ad4e;
$color-danger: 						#f55060;

// Color names
$color-black: 						#000000;
$color-white: 						#ffffff;
$color-grey:							#dddddd;
