// UTILITIES / VARIABLES
// ------------------------------------

// Font
$base-font-size: 16px;
$font-family: 'Flama', Verdana, Arial, sans-serif;

// Containers
$page-max-width: 75rem;

// Media Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Third Party Colors
$color-facebook: 			#5d82d1;
$color-twitter: 			#34c1e7;
$color-linkedin: 			#0083a8;
$color-pinterest: 		#c91618;
$color-google-plus: 	#eb5e4c;
$color-youtube: 			#cc181e;